#!/usr/bin/make -f
export DH_VERBOSE = 1

export ROOT = debian/tmp
export APP_FOLDER = $(ROOT)/usr/lib/helm

export APP_TARBALL = vault-0.25.0.tgz
export STAGING = staging

%:
	dh $@

override_dh_auto_build:
	# Set up chart build files.
	mkdir vault
	cp Chart.yaml values.yaml vault
	cp vault-init.yaml vault-certificates.yaml templates
	cat _helpers-CA.tpl >> templates/_helpers.tpl
	mv templates vault/templates
	# Create the TGZ file.
	make vault

override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 $(APP_TARBALL) $(APP_FOLDER)

override_dh_auto_test:
